<body>
  <h1 class="heading">Editing Book</h1>

  <% if @book.errors.any? %>
    <div class="error-frame">
      <div class="error-title"><%= @book.errors.count %> errors prohibited this book from being saved:</div>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @book, url: update_book_path(@book.id), method: :patch, local:true do |f| %>
    <div class="input-box">
       <div>Title</div>
       <%= f.text_field :title %>
    </div>

    <div class="input-box">
      <div>Body</div>
      <%= f.text_area :body %>
    </div>

    <div class="input-box">
      <%= f.submit "Update Book" %>
    </div>
  <% end %>

  <%= link_to "Show", book_path %>
  <%="|"%>
  <%= link_to "Back", index_path %>
</body>
